body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to flex-start to start alignment at the top */
  height: 100vh;
  margin: 0;
  overflow-y: auto; /* Ensure the body can scroll */
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; /* Changed from 400px to 90% to fit various screen sizes */
  max-width: 800px; /* Added max-width to limit the container size */
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

.file-label {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#fileInput {
  display: none;
}

button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

button:hover {
  background: #218838;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#output {
  margin-top: 20px;
  display: none;
}

.file-list {
  list-style: none;
  padding: 0;
}

.file-list li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-list li a {
  text-decoration: none;
  color: #007bff;
}

.file-list li a:hover {
  text-decoration: underline;
}

.action-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

.action-btn:hover {
  background: #0056b3;
}

.download-all-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.download-all-btn:hover {
  background: #0056b3;
}

#output-uploads,
#output-converted {
  margin-top: 20px;
}
