body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  display: flex;
  height: 100vh;
  overflow-y: auto;
}

.sidebar {
  background: #333;
  color: #fff;
  width: 250px;
  padding-top: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: all 0.3s;
}

.sidebar a:hover {
  background: #575757;
}

.sidebar a.active {
  background: #007bff;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  margin-bottom: 20px;
}

.file-label {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#fileInput,
#youtubeUrl,
#customLocation {
  display: none;
}

input[type="text"],
select {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

button:hover {
  background: #218838;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#output,
#downloadOutput {
  margin-top: 20px;
  display: none;
}

.file-list {
  list-style: none;
  padding: 0;
}

.file-list li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-list li a {
  text-decoration: none;
  color: #007bff;
}

.file-list li a:hover {
  text-decoration: underline;
}

.action-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

.action-btn:hover {
  background: #0056b3;
}

.download-all-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.download-all-btn:hover {
  background: #0056b3;
}

#output-uploads,
#output-converted {
  margin-top: 20px;
}
